.totalFeed {
    background-color: rgb(223, 223, 223);
    height: 12vh;
    width: 100vw;
    display: flex;
}

.h2-postage, .label-postage, #input-postage, .button-postage {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#input-postage {
    width: 330px;
    padding-left: 10px;
}