header {
    background-color: rgb(45, 74, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    color: aliceblue;
    padding: 20px;
    box-shadow: 0px 3.2px 3px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 10;
}

img {
    height: 50px;
    width: 140px;
}

a {
    padding: 10px;
}