* {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.area-nav-and-profilecontent {
    display: flex;
}

.profile-area {
    margin: 20px;
    padding: 20px;
    height: 40vh;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.171);
}

.img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-color: rgb(245, 245, 245);
    color: rgb(245, 245, 245);
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.img-profile {
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 90px;
    width: 90px;
    border-radius: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    top: 50%;
    /* Centraliza verticalmente */
    transform: translateY(-50%);
    /* Ajusta a centralização */
}

.img-profilecontent {
    display: flex;
    align-items: center;
    position: relative;
}

.content-feed-profile {

    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 16px;
    border-radius: 12px;

}

.postageUser {
    display: flex;
    justify-content: space-between;
  }

  .post {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.349);
  }